# MAC Os specific files
.DS_Store

# data and outputs
data/
*.parquet
*.csv
outputs/*
!outputs/extracted_results.json
!outputs/methods.md
!outputs/verification_report.md

# python files
*.pyc
__pycache__/
.env